<app-series-first-page-display header="Series You Might Like"
                               subtitle="Based on your followings' watchlists"
                               expansionLink="/statistics"
                               [loadSeriesFn]="loadFiveCommonSeriesAmongFollowing.bind(this)">
</app-series-first-page-display>

<app-series-first-page-display header="Most Popular"
                               subtitle="The most popular series available"
                               expansionLink="/statistics"
                               [loadSeriesFn]="loadFiveMostPopularSeries.bind(this)">
</app-series-first-page-display>
