<div *ngIf="userDetails$ | async as userDetails">
  <h1 class="page-title"> Update Details: {{userDetails.userName}}</h1>

  <form *ngIf="form" [formGroup]="form" class="flex-column">
    <div class="flex centralize-grid">
      <span>First name:&nbsp;</span>
      <input type="text" formControlName="firstName" />
    </div>

    <div class="flex centralize-grid">
      <span>Last name:&nbsp;</span>
      <input type="text" formControlName="lastName" />
    </div>

    <div class="submit-button-container centralize-text centralize-grid">
      <button mat-raised-button (click)="updateUserDetails(userDetails.userName)">Update</button>
    </div>
  </form>
</div>

<swal
  text="User details have been updated successfully"
  [swalVisible]="isSwalVisible"
  (didClose)="isSwalVisible = false">
</swal>
