<div class="ribbon-container">
  <img src="../../../../../assets/bookmark-tag.png">
  <div class="ribbon-status" *ngIf="status$ | async as status">
<!--    <mat-icon *ngIf="status === watchlistStatus.NOT_STARTED" class="centralize-grid">star_border</mat-icon>-->
<!--    <mat-icon *ngIf="status === watchlistStatus.PARTIAL" class="centralize-grid">star_half</mat-icon>-->
<!--    <mat-icon *ngIf="status === watchlistStatus.DONE" class="centralize-grid">star</mat-icon>-->
    <mat-icon *ngIf="false" class="centralize-grid">star_border</mat-icon>
    <mat-icon *ngIf="false" class="centralize-grid">star_half</mat-icon>
    <mat-icon *ngIf="false" class="centralize-grid">star</mat-icon>
  </div>
</div>
