.page-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.series-summary {
  margin: auto 1rem auto;

  .series-name {
    font-size: 1.5rem;
  }

  .series-overview {
    margin-top: 1rem;
    color: gray;
  }
}

mat-expansion-panel {
  width: 50%;
  margin: auto;

  mat-expansion-panel-header {
    height: auto;
  }
}


