<h1 class="page-title">Your Watchlist</h1>

<mat-accordion>
  <mat-expansion-panel *ngFor="let series of watchlist$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="series.posterPath" [alt]="series.name" />
        <div class="series-summary">
          <h2 class="series-name">{{series.name}}</h2>
          <span class="series-description">
            Number of seasons: {{series.numberOfSeasons}} |
            Number of episodes: {{series.numberOfEpisodes}} |
            Status: {{getStatusValue(series.status)}} |
            {{series.genres}}
          </span>
          <p class="series-overview">
            {{series.overview}}
          </p>
        </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-watchlist-series-details [series]="series"></app-watchlist-series-details>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<div class="empty-message centralize-text" *ngIf="(watchlist$ | async)?.length === 0">
  You have 0 series in your watchlist.
</div>
